<div class="fixed-left">
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div class="sidebar-menu">
                <!-- Menu items for My Profile -->
                <ul *ngIf="menuType === 'my-profile'">
                    <li class="back-to-dashboard">
                        <a class="waves-effect" routerLink="/"><i class="fa fa-arrow-left"></i> Back to dashboard</a>
                    </li><!-- Menu title-->
                    <li class="text-muted menu-title">My Profile</li><!-- Menu title-->
                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/my-profile','edit-details']"><span> Edit Details </span> </a>
                    </li>
                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/my-profile','change-password']"><span> Change Password </span> </a>
                    </li>
                </ul>
                <!-- Default Menu Items -->
                <ul *ngIf="!menuType">
                    <li class="back-to-dashboard">
                        <a class="waves-effect" routerLink="/"><i class="fa fa-arrow-left"></i> Back to dashboard</a>
                    </li><!-- Menu title-->
                    <li class="text-muted menu-title">Case</li><!-- Menu title-->

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'detail']"><span> Edit Details </span> </a>
                    </li>

                    <li class="text-muted menu-title">Taxes</li><!-- Menu title-->

                    <li class="has_sub" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'taxes']"> <span> Edit </span></a>
                    </li>

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'taxes', 'summary']"> <span> Summary </span> </a>
                    </li>

                    <li class="text-muted menu-title">Categories</li><!-- Menu title-->

                    <li class="has_sub" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'categories']"> <span> Edit </span></a>
                    </li>

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'categories', 'summary']"> <span> Summary </span> </a>
                    </li>

                    <li class="text-muted menu-title">Scenarios</li><!-- Menu title-->

                    <li class="has_sub" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'scenaries']"> <span> Edit </span></a>
                    </li>

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'scenaries', 'summary']"> <span> Summary </span> </a>
                    </li>

                    <li class="text-muted menu-title"> Reports </li><!-- Menu title-->

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'amount-in-dispute']"> <span> Amount in Dispute </span></a>
                    </li>

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'issues-in-dispute']"> <span> Issues in Dispute </span> </a>
                    </li>
                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'anticipated-litigation']"> <span> Anticipated Litigation Result </span> </a>
                    </li>

                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/case', case_id, 'principled-settlement']"> <span> Principled Settlement </span> </a>
                    </li>

                </ul>
                <!-- Menu items for Manage Organization -->
                <ul *ngIf="menuType === 'manage-organization'">
                    <li class="back-to-dashboard">
                        <a class="waves-effect" routerLink="/"><i class="fa fa-arrow-left"></i> Back to dashboard</a>
                    </li>
                    <li class="text-muted menu-title">Manage Organization</li>
                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/organization', org_id, 'details']"><span> Edit Details </span> </a>
                    </li>
                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/organization', org_id, 'members']"><span> Members </span> </a>
                    </li>
                    <li class="has_sub" [routerLinkActive]="['active']">
                        <a class="waves-effect" [routerLink]="['/organization', org_id, 'guests']"><span> Guests </span> </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
