:host {
  min-width: 250px;
}
.side-menu {
    bottom: 0;
    top: 0;
    width: 250px;
    z-index: 2;
    background: #f8f9fa;

  }
  .side-menu.left {
    box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 42px;
  }

  .sidebar-inner {
    height: 100%;
    background-color: rgb(242,242,242);
  }
  .sidebar-menu,
  .sidebar-menu ul,
  .sidebar-menu li,
  {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
  }
  .sidebar-menu li
  {
    border-bottom: solid rgb(204, 204, 204) 2px;
  }
  .side-menu
  {
    border: solid rgb(204, 204, 204) 2px;
  }
  .sidebar-menu {
    width: 100%;
    text-align: center;
  }
  .sidebar-menu a {
    line-height: 1.3;
  }
  .sidebar-menu ul ul {
    display: none;
  }
  .sidebar-menu ul ul li {
    border-top: 0;
  }
  .sidebar-menu ul ul li.active a {
    color: #000;
  }
  .sidebar-menu ul ul a {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    padding: 10px 20px;
  }
  .sidebar-menu ul ul a:hover {
    color: #000 !important;
  }
  .sidebar-menu ul ul ul a {
    padding-left: 40px;
  }
  .sidebar-menu .label {
    display: none;
  }
  .sidebar-menu .subdrop {
    color: #ffffff !important;
  }
  .sidebar-menu > ul > li > a {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 4px 0;
    font-size: 15px;
  }
  .has_sub {
      background-color: white;
  }
  .sidebar-menu > ul > li > a:hover {
    color: #000 !important;
    text-decoration: none;
  }
  .sidebar-menu > ul > li > a > span {
    vertical-align: middle;
  }
  .sidebar-menu > ul > li > a.active {
    color: #fe6271 !important;
  }
  .menu-title {
    pointer-events: none;
    cursor: default;
  }
  .side-menu .sidebar-menu .back-to-dashboard a, .menu-title {
    padding: 12px 20px !important;
    letter-spacing: .035em;
    font-size: 13px;
    background-color: rgb(242,242,242);
  }
