<div class="with-sidebar">
  <div class="container">
    <h2 class="members-title">Guests</h2>

    <a class="btn btn-primary float-right" [routerLink]="['/organization', orgID, 'guests', 'edit']">Add Guest</a>

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="row form-group">
        <div class="col-sm-3">
          <select class="form-control" formControlName="enabled" (change)="onChangeStatus($event)">
            <option value="">All</option>
            <option value="1">Enabled</option>
            <option value="0">Disabled</option>
          </select>
        </div>
        <div class="col-sm-6 form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="val" placeholder="Find Guest by Name or E-mail" aria-label="Search" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-sm-3 form-group">
          <select class="form-control" formControlName="type">
            <option value="name">Name</option>
            <option value="email">Email</option>
          </select>
        </div>
      </div>
      <button type="submit" class="d-none">hidden submit</button>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Account Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of members">
          <td>{{[user.first_name, user.last_name].join(' ')}}</td>
          <td>{{user.email}}</td>
          <td>{{user.enabled ? 'Enabled' : 'Disabled'}}</td>
          <td><a [routerLink]="['/organization', orgID, 'guests', 'edit', user.user_id]">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="totalCount" [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="5" (pageChange)="loadPage($event)" class="d-flex justify-content-end"></ngb-pagination>
  </div>
</div>
