.navbar{
  padding: 0px;
  border-bottom: solid rgb(204,204,204) 1px;
  background-color: rgb(255,255,255);
}
.navbar-brand{
  width: 250px;
  margin-right: 0;
  text-align: center;
}
.navbar-text{
  padding: 0;
  border-right: solid rgb(204,204,204) 1px;
}
.user-name-container {
  border-left: solid rgb(204,204,204) 1px;
}
.user-name {
  padding: 7px;
}
.btn-light, .btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
}
.dropdown-menu.show {
  outline: solid rgb(204,204,204) 1px;
  border: none;
}
