<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">CounterMeasure</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Joe and Jane Taxpayer T1 Dispute </a>
      </li>
    </ul>
    <li class="navbar-text">
      <a class="nav-link">BEC Lawyers</a>
    </li>
    <div ngbDropdown class="d-inline-block" placement="bottom-right">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a routerLink="/my-profile" class="dropdown-item">My Profile</a>
        <a *ngIf="userRole == 'OA'" routerLink="/" class="dropdown-item">Manage Organization</a>
        <button (click)=logOut() class="dropdown-item">Log Out</button>
      </div>
    </div>
  </div>
</nav>
