.card-borderless {
  border: none;
}

.card-borderless .card-body {
  padding-top: 0;
  padding-bottom: 0.3rem;
}

button {
  margin-top: 1.5rem;
}

.form-check {
  padding-left: 3.5rem;
  margin-top: 1rem;
}

.card.col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}
