.anticipate-litigation {
  .anticipate-litigation__header {
    margin: 25px auto;
    color: #082948;
    text-align: center;
    h1 {
      text-align: left;
    }
    p {
      text-align: left;
    }
    hr {
        border-top: 1px solid #082948;
    }
  }
}
.wrapper {
  padding: 1rem;
  width: 100%;
}
canvas {
  margin: 25px 0;
}