<ct-navigation-bar></ct-navigation-bar>
<div class="edit-categories d-flex flex-row">
  <ct-sidebar></ct-sidebar>
  <div class="wrapper">
      <div class="d-flex justify-content-between section-title">
          <h1>Edit Scenarios</h1>
      </div>
      <div class="table-wrapper">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center align-middle">Name</th>
              <th class="text-center align-middle">Taxable Income / Sales</th>
              <th class="text-center align-middle">Taxes</th>
              <th class="text-center align-middle">Penalties</th>
              <th class="text-center align-middle">Interest</th>
              <th class="text-center align-middle">Amount in Dispute</th>
              <th class="text-center align-middle">Probability</th>
              <th class="text-center align-middle">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let scenario of scenarios; let index = index">
              <td>{{scenario.name}}</td>
              <td>{{scenario.taxable_income | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              <td>{{scenario.taxes | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              <td>{{scenario.penalties | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              <td>{{scenario.interest | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              <td>{{+scenario.taxes + +scenario.penalties + +scenario.interest | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              <td class="text-center ">{{scenario.probability}}%</td>
              <td class="action-col">
                  <button [routerLink]="['/case', case_id, 'scenarios', getScenarioId(index), 'edit', 'edit']">Edit</button>
                  <button (click)="moveUp(index)">Up</button>
                  <button (click)="moveDown(index)">Down</button>
                  <button (click)="deleteScenario(index)">Delete</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary create-case" [routerLink]="['/case', case_id, 'scenarios', 'edit', 'add']"> Add </button>
      <nav class="float-right" *ngIf="total_count >= items_per_page">
        <ul class="pagination">
          <li [ngClass]="page_number === 1 ? 'page-item disabled' : 'page-item'" (click)="getItemsByPage(page_number-1)">
            <a class="page-link" href="javascript:">Previous</a>
          </li>
          <li *ngFor="let item of range()" [ngClass]="page_number == item + 1 ? 'page-item active' : 'page-item'" (click)="getItemsByPage(item+1)">
            <a class="page-link" href="javascript:">{{item + 1}}</a>
          </li>
          <li [ngClass]="page_number === total_page ? 'page-item disabled' : 'page-item'" (click)="getItemsByPage(page_number+1)">
            <a class="page-link" href="javascript:">Next</a>
          </li>
        </ul>
      </nav>
  </div>
</div>
