.wrapper {
    padding: 50px;
    width: 100%;
}
.table-wrapper {
    margin-top: 40px;
    td {
        width: 10%;
    }
    td:last-child,
    td:first-child {
        width: 20%;
    }
}
.action-col {
    padding: 0;
    button {
        height: 45px;
        width: 25%;
        background: none;
        padding: 0 10px;
        border: none;
        border-right: 1px solid #dee2e6;
        border-left: none;
        border-bottom: none;
        border-top: none;
    }
}