<ct-navigation-bar></ct-navigation-bar>
<ct-sidebar></ct-sidebar>

<div class="with-sidebar">
  <div class="container"> 
    <h2>Details</h2>
    <form [formGroup]="myProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="first-name" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="first-name" formControlName="firstName">
        </div>
      </div>
      <div class="form-group row">
        <label for="last-name" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="last-name" formControlName="lastName">
        </div>
      </div>
      <div class="form-group row">
        <label for="phone-number" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="phone-number" formControlName="phone">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="myProfileForm.pristine">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>