<div class="with-sidebar">
  <div class="container">
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="current-password" class="col-sm-2 col-form-label">Current</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" [ngClass]="validator.displayFieldCss(passwordForm, 'current')" id="current-password" formControlName="current">
          <div class="invalid-feedback">
            Please enter your current password.
          </div>
        </div>
      </div>
      <div formGroupName="passwords">
      <div class="form-group row">
        <label for="new-password" class="col-sm-2 col-form-label">New</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" [ngClass]="validator.displayFieldCss(passwordForm, 'passwords.new')" id="new-password" formControlName="new">
          <div class="invalid-feedback">
            Please enter your new password.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="repeat-password" class="col-sm-2 col-form-label">Repeat</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" [ngClass]="validator.displayFieldCss(passwordForm, 'passwords')" id="repeat-password" formControlName="repeat">
          <div class="invalid-feedback">
            Repeated password does not match new password.
          </div>
        </div>
      </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!passwordForm.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
