.login {
    .login__wrapper {
        margin: 10rem auto;
        .row > *{
            margin: 2rem auto;
            .form-group {
                >div {
                    display: inline-block
                }
                position: relative;
            }
            .form-control {
                display: inline-block;
                width: 15rem;
                float: right;
            }
            .form-control-feedback {
                top: 10px;
            }
            .form-error {
                text-align: center;
                color: #e87575;
                font-size: 12px;
            }
            label {
                padding: 7px 0;
                width: 100px;
            }
            .login__button_wrapper {
                text-align: center;
                button {
                    width: 8rem;
                    border: 1px solid #8a8a8a;
                }
            }
        }
    }
}