<div class="with-sidebar">
  <div class="container">
    <h1 class="top-h1 members-title">Members</h1>

    <a class="btn btn-primary float-right" [routerLink]="['/organization', orgID, 'members', 'edit']">Add Member</a>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Account Status</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of members">
          <td>{{[user.first_name, user.last_name].join(' ')}}</td>
          <td>{{user.email}}</td>
          <td>{{user.enabled ? 'Enabled' : 'Disabled'}}</td>
          <td>{{user.role_id === 'OM' ? 'Member' : 'Admin'}}</td>
          <td><a [routerLink]="['/organization', orgID, 'members', 'edit', user.user_id]">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="totalCount" [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="5" (pageChange)="loadPage($event)" class="d-flex justify-content-end"></ngb-pagination>

    <p class="text-right" *ngIf="roleID === 'OA'">{{totalEnabled}} of {{memberLimit}} user accounts in use</p>

    <form [formGroup]="orgForm" (ngSubmit)="onSubmit()" *ngIf="roleID === 'CA'">
      <div class="form-group row">
        <label for="org-name" class="col-sm-2 col-form-label limit-label">Member Limit </label>
        <div class="col-sm-1 col-form-label text-right enabled-label">
          {{totalEnabled}} of
        </div>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="org-name" formControlName="memberLimit">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 clearfix">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="orgForm.pristine || !orgForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
