<ct-navigation-bar></ct-navigation-bar>
<div class="d-flex flex-row">
  <ct-sidebar></ct-sidebar>
  <div class="wrapper">
    <h1>Scenarios Summary</h1>
    <div class="summary-scenarios">
        <p><b>Amount in Dispute</b></p>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Amount in Dispute</td>
                <td>{{remaining_amount_payable_total | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <p class="px-3"><b>Proposed Scenarios</b></p>
    <div class="summary-scenarios" *ngFor="let scenario of scenarios; let index = index">
        <div class="d-flex justify-content-between section-title">
            <p><b>{{index + 1}}. {{scenario.name}}</b></p>
        </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Total Adjustment</th>
                <th>Total Remaining</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Adjustment to Income</td>
                <td>{{scenario.taxable_income | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
                <td>{{scenario.payable_income | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              </tr>
              <tr>
                <td>Adjustment to Taxes</td>
                <td>{{scenario.taxes | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
                <td>{{scenario.payable_taxes | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              </tr>
              <tr>
                <td>Adjustment to Penalties</td>
                <td>{{scenario.penalties | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
                <td>{{scenario.payable_penalties | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              </tr>
              <tr>
                <td>Adjustment to Interest</td>
                <td>{{scenario.interest | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
                <td>{{scenario.payable_interest | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              </tr>
              <tr>
                <td class="total-section">Amount in Dispute</td>
                <td class="total-section">{{scenario.total | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
                <td class="total-section">{{scenario.payable_total | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
      </div>
      <button type="button" class="btn btn-primary" (click)='create_csv()'> Download CSV </button>
  </div>
</div>