<ct-navigation-bar></ct-navigation-bar>
<ct-sidebar></ct-sidebar>
<div>
  <div class="container summary-scenarios">
    <div class="d-flex justify-content-between section-title">
      <h2>Amount In Dispute</h2>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total payable</td>
          <td>${{remaining_amount_payable_total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container summary-scenarios" *ngFor="let scenario of scenarios; let index = index">
    <h2>Proposed Scenarios</h2>
    <div class="d-flex justify-content-between section-title">
        <h2>{{scenario.name}}</h2>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Total Reduction To Dept</th>
            <th>Remaining Amount Payable</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Reduction to Income</td>
            <td>${{scenario.taxable_income}}</td>
            <td>${{scenario.payable_income}}</td>
          </tr>
          <tr>
            <td>Reduction to Taxes</td>
            <td>${{scenario.taxes}}</td>
            <td>${{scenario.payable_taxes}}</td>
          </tr>
          <tr>
            <td>Reduction to Penalties</td>
            <td>${{scenario.penalties}}</td>
            <td>${{scenario.payable_penalties}}</td>
          </tr>
          <tr>
            <td>Reduction to Interest</td>
            <td>${{scenario.interest}}</td>
            <td>${{scenario.payable_interest}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>${{scenario.total}}</td>
            <td>${{scenario.payable_total}}</td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    <button type="button" class="btn btn-primary" (click)='create_csv()'> Download CSV </button>
  </div>
</div>