<ct-navigation-bar></ct-navigation-bar>
<ct-sidebar></ct-sidebar>
<div>
  <div class="container edit-categories" *ngFor="let categoryGroup of groupedCategories; let index = index">
    <div class="d-flex justify-content-between section-title">
      <h2>{{categoryGroup.taxpayer}}</h2>
    </div>
    <h2>Personal Income Tax Year in Dispute</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Taxable Income</th>
          <th>Non-refundable Federal Tax Credits</th>
          <th>Non-refundable Provincial Tax Credits</th>
          <th>Other Amounts Payable</th>
          <th>Credits Applied on Filing</th>
          <th>Income Subject to GNP</th>
          <th>Other Penalties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoryGroup">
          <td>{{category.name}}</td>
          <td>{{category.taxable_income | number:'1.2-2'}}$</td>
          <td>{{category.federal_non_refundable_tax_credits | number:'1.2-2'}}$</td>
          <td>{{category.provincial_non_refundable_tax_credits | number:'1.2-2'}}$</td>
          <td>{{category.other_amounts_payable | number:'1.2-2'}}$</td>
          <td>{{category.credits_applied_on_filing | number:'1.2-2'}}$</td>
          <td>{{category.income_subject_to_gnp | number:'1.2-2'}}$</td>
          <td>{{category.other_penalties | number:'1.2-2'}}$</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{categoryGroup.taxable_income_total | number:'1.2-2'}}$</td>
          <td>{{categoryGroup.non_refundable_federal_tax_credits_total | number:'1.2-2'}}$</td>
          <td>{{categoryGroup.non_refundable_provincial_tax_credits_total | number:'1.2-2'}}$</td>
          <td>{{categoryGroup.other_amounts_payable_total | number:'1.2-2'}}$</td>
          <td>{{categoryGroup.credits_applied_on_filing_total | number:'1.2-2'}}$</td>
          <td>{{categoryGroup.income_subject_to_gnp_total | number:'1.2-2'}}$</td>
          <td>{{categoryGroup.other_penalties_total | number:'1.2-2'}}$</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container edit-categories">
    <div class="d-flex justify-content-between section-title">
      <h2>All taxpayers</h2>
    </div>
    <h2>Combined</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Taxable Income Sales</th>
          <th>Non-refundable Federal Tax Credits</th>
          <th>Non-refundable Provincial Tax Credits</th>
          <th>Other Amounts Payable</th>
          <th>Credits Applied on Filing</th>
          <th>Income Subject to GNP</th>
          <th>Other Penalties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of combinedCategories">
          <td>{{category.name}}</td>
          <td>{{category.taxable_income_grouped || category.taxable_income | number:'1.2-2'}}$</td>
          <td>{{category.federal_non_refundable_tax_credits_grouped || category.federal_non_refundable_tax_credits | number:'1.2-2'}}$</td>
          <td>{{category.provincial_non_refundable_tax_credits_grouped || category.provincial_non_refundable_tax_credits | number:'1.2-2'}}$</td>
          <td>{{category.other_amounts_payable_grouped || category.other_amounts_payable | number:'1.2-2'}}$</td>
          <td>{{category.credits_applied_on_filing_grouped || category.credits_applied_on_filing | number:'1.2-2'}}$</td>
          <td>{{category.income_subject_to_gnp_grouped || category.income_subject_to_gnp | number:'1.2-2'}}$</td>
          <td>{{category.other_penalties_grouped || category.other_penalties | number:'1.2-2'}}$</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{combinedCategoriesTotals.taxable_income_total | number:'1.2-2'}}$</td>
          <td>{{combinedCategoriesTotals.non_refundable_federal_tax_credits_total | number:'1.2-2'}}$</td>
          <td>{{combinedCategoriesTotals.non_refundable_provincial_tax_credits_total | number:'1.2-2'}}$</td>
          <td>{{combinedCategoriesTotals.other_amounts_payable_total | number:'1.2-2'}}$</td>
          <td>{{combinedCategoriesTotals.credits_applied_on_filing_total | number:'1.2-2'}}$</td>
          <td>{{combinedCategoriesTotals.income_subject_to_gnp_total | number:'1.2-2'}}$</td>
          <td>{{combinedCategoriesTotals.other_penalties_total | number:'1.2-2'}}$</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)='create_csv()'> Create CVS </button>
  </div>
</div>