.wrapper {
    padding: 50px;
    .table {
        td {
           width: 12.5%;
       }
    }
}
.summary-section {
    margin-top: 40px;
}

.total-section {
    border-top: 3px solid #898989;
    border-right: 1px solid #b3b4b5;
    background-color: #E1E1E1;
    color: #082948;
    border-left: 1px solid #b3b4b5;
    border-bottom: 1px solid #b3b4b5;
    font-weight: 600;
}