<div class="modal-body alert alert-warning">
  <button type="button" class="close pull-right" aria-label="Close" (click)="onDisagree()">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row">
    <div class="col-md-12 col-md-offset-3 text-center">
      <div class="form-group">
        {{dialogContent}}
      </div>
      <div class="row flex-row-reverse">
        <button class="btn btn-primary float-right" type="submit" (click)="onDisagree()">No</button>
        <button class="btn btn-primary float-right" style="margin-right: 20px" type="submit" (click)="onAgree()">Yes</button>
      </div>
    </div>
  </div>
</div>