ct-sidebar {
    width: 300px;
}

.section-title {
    margin-top: 50px;
}

.second-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tax-section {
    width: 70%;
}

.table-bordered {
    border: none;

    th {
        border: 1px solid #d7d7d7 !important;
    }

    tr {
        border: 1px solid #d7d7d7 !important;
    }
}
th {
    text-align: left;
    color: #FFF;
    background-color: #082948;
    width: 12%;
}

.summary-section {
    margin-top: 40px;
}

.total-section {
    border-top: 3px solid #898989;
    border-right: 1px solid #b3b4b5;
    background-color: #E1E1E1;
    color: #082948;
    border-left: 1px solid #b3b4b5;
    border-bottom: 1px solid #b3b4b5;
    font-weight: 600;
}