<ct-navigation-bar></ct-navigation-bar>
<ct-sidebar></ct-sidebar>
<div class="container edit-categories">

  <div class="d-flex justify-content-between section-title">
    <h1>Edit categories</h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tax Year</th>
        <th>Taypayer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories; let index = index">
        <td>{{category.name}}</td>
        <td>{{category.disputed.taxyear}}</td>
        <td>{{category.disputed.taxpayer}}</td>
        <td>
          <thead>
              <th [routerLink]="['/case', case_id, 'categories', getCategoryId(index), 'edit', 'edit']">Edit</th>
              <th (click)="moveUp(index)">Up</th>
              <th (click)="moveDown(index)">Down</th>
              <th (click)="deleteCategory(index)">Delete</th>
          </thead>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary create-case" [routerLink]="['/case', case_id, 'categories', 'edit', 'add']"> Add </button>
  <nav class="float-right" *ngIf="total_count >= items_per_page">
    <ul class="pagination">
      <li [ngClass]="page_number === 1 ? 'page-item disabled' : 'page-item'" (click)="getItemsByPage(page_number-1)">
        <a class="page-link" href="javascript:">Previous</a>
      </li>
      <li *ngFor="let item of range()" [ngClass]="page_number == item + 1 ? 'page-item active' : 'page-item'" (click)="getItemsByPage(item+1)">
        <a class="page-link" href="javascript:">{{item + 1}}</a>
      </li>
      <li [ngClass]="page_number === total_page ? 'page-item disabled' : 'page-item'" (click)="getItemsByPage(page_number+1)">
        <a class="page-link" href="javascript:">Next</a>
      </li>
    </ul>
  </nav>
</div>
