.wrapper {
    padding: 1rem;
    width: 100%;
}
.table-wrapper {
    padding: 1rem;
    td {
        width: 25%;
    }
}
.action-col {
    padding: 0;
    button {
        width: 25%;
        height: 45px;
        background: none;
        padding: 0 10px;
        border: none;
        border-right: 1px solid #dee2e6;
        border-left: none;
        border-bottom: none;
        border-top: none;
    }
}