.amount-in-dispute {
    .amount-in-dispute__header {
        margin: 25px auto;
        color: #082948;
        hr {
            border-top: 1px solid #082948;
        }
    }
}
.wrapper {
    padding: 1rem;
    width: 100%;
}

.total-section {
    border-top: 3px solid #898989;
    border-right: 1px solid #b3b4b5;
    background-color: #E1E1E1;
    color: #082948;
    border-left: 1px solid #b3b4b5;
    border-bottom: 1px solid #b3b4b5;
    font-weight: 600;
}