.amount-in-dispute {
    .amount-in-dispute__header {
        margin: 25px auto;
        color: #082948;
        hr {
            border-top: 1px solid #082948;
        }
    }
}
.wrapper {
    padding: 1rem;
    width: 100%;
}